Để cài đặt, chạy install.bat. Để gỡ cài đặt, chạy uninstall.bat. Cả hai lệnh đều cần quyền Administrator.

-------------------------------------------------
Trang chủ: https://github.com/BoGoEngine/bogo-win
